{% include 'header.html' %}

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">05: Twitter search</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <form action="/result_twitter" method="post" class="reveal-content">
                  <div class="form-group">
                    <input type="text" class="form-control" name="word" id="word" placeholder="keyword">
                  </div>
                  <button type="submit" class="btn btn-default btn-lg">Search</button>
               </form>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>


{% include 'footer.html' %}